.article_1 {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-bottom: 30px;
}
  
.paragraph_article_1 {
    font-size: medium;
    font-weight: 500;
    color: #6c933e;
    padding-top: 35px;
    padding-left: 15px;
}
  
.title_article_1 {
    padding-top: 10px;
    padding-left: 15px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: x-large;
}
  
.paragraph2_article_1 {
    padding-top: 7px;
    padding-left: 15px;
    line-height: 2;
    font-size: large;
    font-weight: 400;
}
  
.btn {
    background-color: white;
    color: #6c933e;
    border: 2px solid #6c933e;
    border-radius: 50px;
    padding: 10px 47px;
    margin-top: 25px;
    margin-left: 10px;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    transition: transform 1s;
}
  
.btn:hover {
    transform: translate(50px);
}
  