/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
 
:root {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header {
  height: 100vh;
  background-image: url('../images/cover.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 83%;  
}

.fixed {
  position: fixed;
}

.burguer_link {
  color: #6c933e;
}

.burguer_button {
  width: 40px;
  height: 40px;
  background-color: #6c933e;
  border: none;
}

.container {
  height: 30rem;
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-direction: column;
  padding-top: 270px;
}

.title_header {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #ffffff; 
  font-size: 40px;
  text-align: center;
  padding-bottom: 10px;
}

.title_header2 {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #ffffff; 
  font-size: 40px;
  text-align: center;
  padding-bottom: 50px;
}

.paragraph-title {
  font-size: x-large;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  padding-inline: 40px;
  padding-bottom: 20px;
}

.scroll_down {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  padding-top: 6px;
}

.article_1 {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-bottom: 30px;
}

.paragraph_article_1 {
  font-size: medium;
  font-weight: 500;
  color: #6c933e;
  padding-top: 35px;
  padding-left: 15px;
}

.title_article_1 {
  padding-top: 20px;
  padding-left: 15px;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: x-large;
}

.paragraph2_article_1 {
  padding-top: 10px;
  padding-left: 15px;
  line-height: 2;
  font-size: large;
  font-weight: 300;
}

.btn {
  background-color: white;
  color: #6c933e;
  border: 2px solid #6c933e;
  border-radius: 50px;
  padding: 10px 47px;
  margin-top: 25px;
  margin-left: 10px;
  font-weight: bold;
  font-size: large;
  text-decoration: none;
  transition: transform 1s;
}

.btn:hover {
  transform: translate(50px);
}

.images_section {
  width: 125px;
  height: 125px;
  border-radius: 50%;  
  margin-bottom: 10px;
  margin-top: 5px;
}

.img_style {
  text-align: center;
}

.section_product {
  font-size: small;
  font-weight: 600;
  text-align: center;
}

.article_2 {
  background-color: #d9e4cc;
}

.container_grid {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

.button_grid {
  text-align: center;
}

.paragraph_article_2 {
  color: #626262;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 20px;
  font-size: small;
  font-weight: 600;
  text-align: center;
}

.title_article_2 {
  margin-bottom: 10px;
  text-align: center;
  font-size: large;
  font-weight: 600;
}

.btn_2 {
  color: white;
  background-color: #6c933e;
  border-radius: 50px;
  padding: 13px 20px;
  margin-top: 25px;
  margin-bottom: 30px;
  font-weight: normal;
  font-size: large;
  border: none;
}

.footer {
  background-color: #4a4a4a;
  color: white;
}
.scroll_footer {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

.ico-arrow {
  margin-top: 1px;
}

.scroll_down {
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  padding-top: 6px;
}

.list_link {
  padding: 5px;
}

.link_decoration {
  color: white;
  text-decoration: none;
}

.nav {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  padding: 5px;
}

.container_copyright {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

.copyright {
  padding-bottom: 20px;
}

.love {
  padding-bottom: 20px;
}


@media (min-width:768px) {
  .container {
    display: flex;
    text-align: center;
    padding-top: 190px;
  }

  .title_header {
    font-size: 95px;
    font-weight: 700;
  }

  .title_header2 {
    font-size: 95px;
    font-weight: 700;
  }

  .paragraph-title {
    font-size: x-large;
    text-align: center;
    margin-inline: 150px;
  }

  .container_article_1 {
    padding-top: 30px;
    padding-left: 30px;
  }

  .paragraph_article_1 {
    font-size: 20px;
  }

  .title_article_1 {
    font-size: 40px;
  }

  .paragraph2_article_1 {
    font-size: 25px;
    font-weight: 400;
  }

  .btn {
    margin-left: 10px;
    margin-bottom: 20px;
    background-color: white;
    color: #6c933e;
    border: 3px solid #6c933e;
    border-radius: 50px;
    padding: 10px 47px;
    margin-top: 25px;
    font-weight: bold;
    font-size: x-large;
    text-decoration: none;
  }

  .paragraph_article_2 {
    text-align: center;
    font-size: 15px;
  }

  .title_article_2 {
    text-align: center;
    font-size: 40px;
  }

  .container_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .button_grid {
    text-align: center;
  }
  
  .images_section {
    width: 175px;
    height: 175px;
  }
  
  .section_product {
    font-size: x-large;
    text-align: center;
  }
  
  .nav {
    padding-top: 40px;
  }
}

@media (min-width:1280px) {
  .title_header {
    font-size: 96px;
    font-weight: 600;
  }

  .title_header2 {
    font-size: 96px;
    font-weight: 600;
  }

  .paragraph-title {
    font-size: 40px;
    text-align: center;
    margin-inline: 150px; 
  }
  
  .paragraph_article_1 {
    font-size: 30px;
    font-weight: 14px;
  }

  .title_article_1 {
    font-size: 50px;
    font-weight: 14px;
  }

  .paragraph2_article_1 {
    font-size: 30px;
  }

  .btn {
    background-color: white;
    color: #6c933e;
    border: 3px solid #6c933e;
    border-radius: 60px;
    padding: 16px 47px;
    margin-top: 25px;
    margin-left: 10px;
    font-weight: bold;
    font-size: x-large;
    text-decoration: none;
  }

  .paragraph_article_2 {
    font-size: x-large;
  }

  .title_article_2 {
    font-size: 55px;
  }

  .images_section {
    width: 200px;
    height: 200px;
  }
  
  .section_product {
    font-size: x-large;
  }

  .container_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .btn_2 {
    color: white;
    background-color: #6c933e;
    border-radius: 50px;
    padding: 15px 20px;
    margin-top: 25px;  
    margin-bottom: 30px;
    font-weight: normal;
    font-size: x-large;
    border: none;
  }
    
  .nav {
    padding-top: 50px;
  } 
}
