/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
 

:root {

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}





 .header {
  height: 100vh;
  background-image: url('../images/cover.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 83%;
  
  
  
  
}


.burguer_link {
  color: #6c933e;
  
}

.burguer_button {
  width: 40px;
  height: 40px;
  background-color: #6c933e;
  border: none;
}

.container {
  height: 30rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
  flex-direction: row;
  padding-top: 250px;
}



.title_header {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 14px;
  font-style: normal;
  color: #ffffff; 
  font-size: xx-large;
  text-align: center;
  
  
}

.paragraph-title {
  color: #ffffff;
  text-align: center;
  padding-inline: 40px;
  
}

.scroll_down {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  padding-top: 6px;
}



.article_1 {
  
  
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.container_article_1 {
  
  height: 400px;
  
  
  
}

.paragraph_article_1 {
  font-size: medium;
  font-weight: 500;
  color: #6c933e;
  padding-top: 30px;
  padding-left: 10px;
}

.title_article_1 {
  padding-top: 5px;
  padding-left: 8px;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: x-large;
}

.paragraph2_article_1 {
  padding-top: 10px;
  padding-left: 10px;
  line-height: 2;
  font-size: large;
  font-weight: 300;
}


.btn {
  
  
  background-color: white;
  color: #6c933e;
  border: 2px solid #6c933e;
  border-radius: 50px;
  padding: 10px 47px;
  margin-top: 25px;
  margin-left: 10px;
  font-weight: bold;
  font-size: large;
  text-decoration: none;
}

.images_section {
  width: 125px;
  height: 125px;
  border-radius: 50%;  
  margin: 100px;
}

.section_product {
  font-size: small;
  font-weight: 600;
  text-align: center;
  
}

.article_2 {
  background-color: #d9e4cc;
  display: grid;
  grid-template-columns: 1fr;
  
  
}

.paragraph_article_2 {
  margin-left: 35px;
  color: #626262;
  padding: 20px;
  font-size: small;
  font-weight: 600;
}

.title_article_2 {
  margin-bottom: 20px;
  padding-left: 95px;
  font-size: large;
  font-weight: 600;

}

.btn_2 {
  color: white;
  background-color: #6c933e;
  border-radius: 50px;
  padding: 13px 20px;
  margin-top: 25px;
  margin-left: 80px;
  margin-bottom: 30px;
  font-weight: normal;
  font-size: large;
  border: none;
  
}

.footer {
  
  background-color: #4a4a4a;
  color: white;
}

.ico-arrow {
  margin-top: 2px;
  margin-left: 140px;
  
}

.link_decoration {
  color: white;
  text-decoration: none;
  list-style: none;
}

.nav {
  padding-top: 50px;
  padding-left: 110px;
  padding-bottom: 30px;
}

.copyright {
  padding-left: 120px;
  padding-bottom: 20px;
}

.love {
  padding-left: 105px;
  padding-bottom: 20px;
}
